.titulos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    color:white;
    background-color: #138D75;
    padding: 10px 30px 10px 30px;

  }


  .centro {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .boton {
    display: grid;
    place-items: center;
    --background: #138D75;
      
  }

  .retroceso {
    color: #138D75;;
  }