<ion-content [fullscreen]="true">

  <div>
    <ion-button class="retroceso" fill="clear" [routerLink]="['/menu-partidos']">Atrás</ion-button>
  </div>
  <div class="titulos">
    <h1> NUEVO CAMPEONATO </h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="deporte" [routerLink]="['/torneo-futbol']">
          <ion-img src="../../assets/icon/soccer_ball.jpg" alt="Torneo De Fútbol"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="deporte">
          <ion-img src="../../assets/icon/basquetball.jpg" alt="Torneo De Básquetbol"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="deporte">
          <ion-img src="../../assets/icon/padel_raquet.jpg" alt="Torneo De Padel"></ion-img>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="deporte">
          <ion-img src="../../assets/icon/tenis_raquet.jpg" alt="Torneo De Tenis"></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>