ion-conten{
  display: flex;
}

.titulos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    color:white;
    background-color: #138D75;
    padding: 10px 30px 10px 30px;

  }


  .centro {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .boton {
    display: grid;
    place-items: center;
    --background: #138D75;
      
  }

  .retroceso {
    color: #138D75;;
  }

ion-grid.deportes {
  ion-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    ion-col {
      padding: 0;
      margin: 10px;
      .deporte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: auto;
        margin: 0;
        border: 3px solid var(--ion-color-primary);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
        ion-img {
          height: 80%;
          width: auto;
        }
        ion-text{
          color: var(--ion-color-primary);
        }
      }
    }
  }
}
