<ion-content [fullscreen]="true">

  <ion-card class="perfil">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="3" class="img-perfil">
          <ion-avatar>
            <img alt="Imagen de Perfil" [src]="usuario.img_perfil" />
          </ion-avatar>
        </ion-col>
        <ion-col size="9" class="info-perfil">
          <ion-card-subtitle>{{usuario.nombres}} {{usuario.apellidos}}</ion-card-subtitle>
          <ion-card-title>{{usuario.username}} <ion-img
              [src]="'https://flagcdn.com/' + usuario.nacionalidad + '.svg'"
              alt='Nacionalidad'></ion-img>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-list [inset]="true">
    <ion-item button detail="false">
      <ion-label>Cuenta</ion-label>
    </ion-item>
    <ion-item button detail="false" [routerLink]="['/tabs/mapa']" >
      <ion-label>Mapa</ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>Privacidad</ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>Idioma</ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item button detail="false" (click)="logOutClick()">
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>