<ion-content [fullscreen]="true">

  <ion-card-content>
    <div>
        <ion-button class="retroceso" fill="clear" [routerLink]="['/menu-partidos']">Atrás</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div class="titulos">
      <h1> CONTINUAR CAMPEONATO </h1>
    </div>
  </ion-card-content>

<br><br><br><br><br>

  <ion-card-content>
    <div>
      <div class="centro">
        <p>A continuación, ingresa el código del campeonato</p>
      </div>

      <ion-item>
        <ion-input label="ID" placeholder=""></ion-input>
      </ion-item>
    </div>
  </ion-card-content>

  <br><br><br><br>

  <ion-card-content>
    <div>
      <ion-button class="boton centro" [routerLink]="['/continuar-camp']">Continuar</ion-button>
    </div>
  </ion-card-content>

</ion-content>