<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form (ngSubmit)="loginClick()">
    <ion-card class="login">
      <ion-card-header class="titulo">
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-input autocomplete="username" type="text" placeholder="Nombre de Usuario" name="username"
                [(ngModel)]="username" (ionChange)="usernameChange()"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="error">
              <ion-text *ngIf="usernameNoExistente">Nombre de Usuario no Existe</ion-text>
              <ion-text *ngIf="usernameNoIngresado">Ingrese Nombre de Usuario</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input autocomplete="current-password" type="password" placeholder="Contraseña" name="password"
                [(ngModel)]="password" (ionInput)="passwordChange()"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="error">
              <ion-text *ngIf="passwordNoCoincide">Contraseña Incorrecta</ion-text>
              <ion-text *ngIf="passwordNoIngresada">Ingrese Contraseña</ion-text>
              <a [routerLink]="['/register']">Crear Cuenta</a>
              <a [routerLink]="['/recuperar-contra']">Recuperar contraseña</a>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="boton">
              <ion-button type="submit" expand="block">Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>