
<ion-content [fullscreen]="true">

  <ion-card-content>
    <div>
      <ion-button class="retroceso" fill="clear" [routerLink]="['/home']">Inicio</ion-button>
    </div>
  </ion-card-content>


  <ion-card>
    
    <ion-card-header class="centro">
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>


    <ion-card-content class="centro">
        <ion-item>
          <ion-input label="Usuario" labelPlacement="floating" placeholder=""></ion-input>
        </ion-item>
    </ion-card-content>

    <ion-card-content class="centro">
        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" type="password" value=""></ion-input>
        </ion-item>

    </ion-card-content>
    <div class="centro">
      <a class="retroceso" [routerLink]="['/recuperar-contra']">Recuperar contraseña</a>
    </div>

<br><br><br><br><br><br><br>

    <ion-card-content>
      <div class="centro">
        <ion-button class="boton"  [routerLink]="['/menu-partidos']">Ingresar</ion-button>
      </div>
    </ion-card-content>
    
   
    

</ion-card>

</ion-content>
