
<ion-content [fullscreen]="true">
  <h1>Bienvenido {{data}}</h1>
  <ion-card-content>
    <div>
      <ion-button class="retroceso" fill="clear" [routerLink]="['/home']">Inicio</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="boton2 centro" [routerLink]="['/amistoso']">Partido Amistoso</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="boton2 centro" [routerLink]="['/login']">Organizar Campeonato</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="boton2 centro" [routerLink]="['/continuar']">Continuar Campeonato</ion-button>
    </div>
  </ion-card-content>

</ion-content>
