
.boton2 {
    --background: #138D75;
  }

  .centro {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .retroceso {
    color: #138D75;;
  }

  .titulos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

    color:white;
    background-color: #138D75;
    padding: 10px 30px 10px 30px;

  }
