
<ion-content [fullscreen]="true">

  <ion-card-content>
    <div>
      <ion-button fill="clear" [routerLink]="['/home']">Inicio</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="ion-button2 centro" [routerLink]="['/amistoso']">Partido Amistoso</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="ion-button2 centro" [routerLink]="['/login']">Organizar Campeonato</ion-button>
    </div>
  </ion-card-content>

  <ion-card-content>
    <div>
      <ion-button class="ion-button2 centro" [routerLink]="['/login']">Continuar Campeonato</ion-button>
    </div>
  </ion-card-content>

</ion-content>
