.centro {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
  }

  .retroceso {
    color: #138D75;;
  }

  .boton {
    display: grid;
    place-items: center;
    --background: #138D75;   
  }
  