<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <div class="campo">
          <ion-input required type="text" label="Nombres" labelPlacement="floating" name="nombres"
            [(ngModel)]="user.nombres"></ion-input>
          <ion-text color="danger" *ngIf="NombreIngresado">Ingrese Nombre</ion-text>
          <ion-text color="danger" *ngIf="NombreValido">Ingrese Nombre Valido</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="text" label="Apellidos" labelPlacement="floating" name="apellidos"
            [(ngModel)]="user.apellidos"></ion-input>
          <ion-text color="danger" *ngIf="ApellidoIngresado">Ingrese Apellido</ion-text>
          <ion-text color="danger" *ngIf="ApellidoValido">Ingrese Apellido Valido</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="date" label="Fecha De Nacimiento" labelPlacement="floating" name="fecha_nacimiento"
            [(ngModel)]="user.fec_nac"></ion-input>
          <ion-text color="danger" *ngIf="FechaIngresada">Ingrese Fecha Valida</ion-text>
          <ion-text color="danger" *ngIf="FechaValida">Ingrese Fecha Valida</ion-text>
        </div>
        <div class="campo">
          <ion-select label="Sexo" label-placement="floating" name="sexo" [(ngModel)]="user.sexo">
            <ion-select-option value="m">Masculino</ion-select-option>
            <ion-select-option value="f">Femenino</ion-select-option>
            <ion-select-option value="o">Otros</ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="SexoIngresado">Ingrese Sexo</ion-text>
        </div>
        <div class="campo">
          <ion-select label="Deporte Favorito" label-placement="floating" name="deporte_fav" [(ngModel)]="user.dep_fav">
            <ion-select-option value="fut">Futbol</ion-select-option>
            <ion-select-option value="bas">Basketball</ion-select-option>
            <ion-select-option value="pad">Padel</ion-select-option>
            <ion-select-option value="o">Otro</ion-select-option>
          </ion-select>
          <ion-text color="danger" *ngIf="DeporteIngresado">Ingrese Deporte Favorito</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="number" label="Teléfono" labelPlacement="floating" name="telefono"
            [(ngModel)]="user.tel"></ion-input>
          <ion-text color="danger" *ngIf="TelefonoIngresado">Ingrese Teléfono</ion-text>
          <ion-text color="danger" *ngIf="TelefonoValido">Ingrese Teléfono Valido</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="email" label="Email" labelPlacement="floating" name="emial"
            [(ngModel)]="user.email"></ion-input>
          <ion-text color="danger" *ngIf="EmailIngresado">Ingrese Email</ion-text>
          <ion-text color="danger" *ngIf="EmailValido">Ingrese Email Valido</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="text" label="Nombre de Usuario" labelPlacement="floating" name="username"
            [(ngModel)]="user.username"></ion-input>
          <ion-text color="danger" *ngIf="UsuarioIngresado">Ingrese Nombre de Usuario</ion-text>
          <ion-text color="danger" *ngIf="UsuarioExistente">Nombre de Usuario YA Existente</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="password" label="Contraseña" labelPlacement="floating" name="password"
            [(ngModel)]="user.password"></ion-input>
          <ion-text color="danger" *ngIf="ContraseniaIngresada">Ingrese Contraseña</ion-text>
          <ion-text color="danger" *ngIf="ContraseniaValida">Ingrese Contraseña</ion-text>
        </div>
        <div class="campo">
          <ion-input required type="password" label="Confitmar Contraseña" labelPlacement="floating"
            name="password_confirm" [(ngModel)]="user.pass_confirmation"></ion-input>
          <ion-text color="danger" *ngIf="ConfContraseniaIngresada">Confirme Contraseña</ion-text>
          <ion-text color="danger" *ngIf="ConfContraseniaValida">Contraseñas NO coinciden</ion-text>
        </div>
        <div class="boton-reg">
          <ion-button block color="primary" type="submit" id="open-modal">
            Registrarse
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-modal #modal trigger="open-modal" (willDismiss)="onWillDismiss()">
    <ng-template>
      <ion-content>
        <div class="modal-content">
          <h2>Registro Completo</h2>
          <br>
          <ion-button [routerLink]="['/login']" (click)="modal.dismiss()">Iniciar Sesión</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>